@{
    ViewData["Title"] = "Home Page";
}

<cabeça>
    <title>Desafio <title/>
            <cabeça>
                <corpo>
                    <h1>Meu site</h1>
                    <p>
                        
                        Exemplo de um texto <img src="img_girl.jpg" alt="Garota de jaqueta" width="500" height="600" /> </br>
                        Essa linha não tem imagem.
                    </p>
                    <body></body>
